* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

:root {
  --dark-orange: #ec5242;
  --light-orange: #ec7a42;
  --light-gray: #7a7a7a;
  --dark-gray: #5f5f5f;
  --header-bg: #3e3e3e;
  --footer-bg: #2e2e2e;
}
